<div class="row">
	<h2>Update Task</h2>
</div>
<div class="row">
	<%= form_with model: @task do |f| %>
		<%= f.text_field :title, placeholder: :title %>
		<%= f.text_area :description, placeholder: :description %>
		<%= f.submit "Update" %>
	<% end %>
</div>